*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}
:root {
  --green: #10a310;
  --white: #ffffff;
  --black: #292929;
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myBtn1 {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}


/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 550;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: black;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  min-width: 175px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: black; color: white;}

.show {display:block;}

.myLink {
  text-decoration: none;
  color: white;
}


#header {
  width: 100%;
  height: 125px;  
  /* background-color: red; */
}

#header .upperNav {
  width: 100%;
  padding: 10px 40px 10px 30px;
  margin: auto;
  color: #ffffff;
  background-color: black;
}

#header .upperNav .leftNav {
  gap: 25px;
}
#header .upperNav .rightNav  {
  gap: 30px;
  padding-right: 20px;
}
#header .upperNav .rightNav div:nth-child(1) {
    width: 180px;
    margin-top: 8px;
}

#header .upperNav .rightNav div:nth-child(1) > img {
  width: 100%;
  border-radius: 100px;

}


.sidenav {
  height: 100%;
  width: 300px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: white; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 17px;
  color: gray;
  display: block;
  transition: 0.3s;
  font-weight: 500;
}


.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}


 
/* Lower Nav  Css */
.lowerNav {
  height: 50px;
  background-color: var(--green);
  justify-content: center;
  align-items: center;
}

.lowerNav a {
  text-decoration: none;
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
}

/* hero section css  */
#hero-section {
  width: 100%;
  height: 400px;
  background-image: url("ZcarImg/Image File05.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 500px inset;
}

#hero-section .hero-content  {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

#hero-section .hero-content h1 {
  font-size: 40px;
}

#hero-section .search-btn {
  width: 60%;
  border-radius: 100px;
  margin: auto;
  justify-content: center;
  padding-top: 3%;
}
#hero-section .search-btn input {
  width: 300px;
  height: 60px;
  padding: 0 20px;
}

#hero-section .search-btn input:nth-child(1) {
  border-radius: 50px 0 0 50px;
  border: none;
}
#hero-section .search-btn input:nth-child(2) {
  border-radius: 0 0 0 0;
  border: none;
}

#hero-section .search-btn button {
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 0px 50px 50px 0px;
  background-color: var(--green);
  font-size: 15px;
  font-weight: 700;
  color: var(--white);
}

/* Popular Card Html  */

#popular-car {
  width: 100%;
  margin-top: 2%;
}


#popular-car h2{
  margin-left: 10%;
}

#popular-car .container {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  /* border: 2px solid red; */
  padding-top: 1.4rem;
}

#popular-car .container .box {
  width: 24%;
  border: 1px solid rgb(215, 213, 213);
  border-radius: 10px;
  font-size: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 15px;
}

#popular-car .container .box > img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#popular-car .container .box >  p , h4  {
  padding: 0.4rem;
  padding-left: 1rem;
}
#popular-car .container .box > p  {
  font-weight: 300;
  font-size: 12px;
}
#popular-car .container .box > p > i {
  font-size: 5px;
}
 
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

#popular-car .container .box .rate-location > div {
  margin-right: 15px;  
  border: 1px solid rgb(194, 206, 194);
  background-color: #fbfff5;
  border-radius: 3px;
  padding: 2px;
}

#popular-car .container .box .rate-location > div p {
  font-size: 11px;
}

#black-container{
  background-color: black;
  width:100%;
  height: 140px;

}
#black-container .grid{
  display: grid;
  display: flex;
  justify-content: space-between;
  color: #fbfff5;
  justify-content: space-around;
  padding-top: 3%;
}

#below-black{
  background-color:white;
  width:100%;
  height: 330px;
}

#below-black .edit{
  padding-top: 3%;
  display: flex;
  justify-content: space-around;

}

#below-black .edit  div{
  /* border:1px solid red; */
  height:100px;
  width:100px;
  border-radius: 20px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 background-color: #fbfff5;

}

#below-black .edit  div #pic1{
  height:70px;
  width: 70px;
  padding-left: 25%;
  padding-top: 5%;
}


#below-black .edit  div #pic2{
  height:70px;
  width: 90px;
  padding-left: 18%;
  padding-top: 5%;
}


#below-black .edit  div #pic3{
  height:80px;
  width: 90px;
  padding-left: 14%;
  padding-top: 20%;
}

#below-black .edit  div #pic4{
  height:70px;
  width: 90px;
  padding-left: 9%;
  padding-top: 23%;
}

#below-black> #text-flex{
  padding-top: 2%;
  display:flex;
  /* justify-content: space-between; */
  justify-content: space-around;

}

#people-sec{
  width:100%;
  height: 270px;
  background-color: white;

}

#people-sec .bx1{
  height:256px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-left: 5%;
}

.bx1-h {
  font-size: 2.4rem;
}

.head1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.drop-box{
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

}

.drop-box div{
  border: 1px solid black;
  background-color: #ffffff;
  height:40px;
  width:43%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myInput{
  width: 90%;
  border: none;
  outline: none;
}

.myImg {
  padding: 1rem;
  width: 4vw;
}

.drop-box div button{
  align-items: flex-end;
  background-color: transparent;
  border: none;
  outline: none;
  padding-right: 1rem;
}


.feedback {
  margin-top: 20rem;
  /* border: 2px solid black; */
  height: 55vh;
}

.card-box {
  /* border: 2px solid black; */
  height: 50vh;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card {
  margin-top: 5rem;
  height: 15rem;
  width: 25rem;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color:  rgb(235, 235, 95);
}

.card p {
  padding: 0 2rem 2rem 2rem;
  /* border: 2px solid black; */
  background-color: rgb(235, 235, 95);
}

.name {
  padding-bottom: 0;
  font-weight: bold;
}

.card-img {
  margin-top: 2rem;
  width: 150px;
  height: 150px;
  position: relative;
  top: -30%;
}


/* FAQ Section CSS  */

.faq-container {
  /* gap: 10px; */
  text-align: center;
  line-height: 30px;
  font-weight: 700;
}
/* footer Content CSS stated  */
footer {
  width: 100%;
  /* height: 650px; */
  background-color: #383838;
  color: #f5f5f5;

}
.footer-content  {
  padding-bottom: 20px;
  padding: 70px;
}
.footer-content ul li {
  list-style: none;
}

.footer-content ul li a {
  text-decoration: none;
  font-size: 22px;
  margin: 10px;
  color: white;
  font-weight: 600;
}
.footer-content  p {
  margin-top: 20px;
  font-size: 14px;
}

.footer-content  h3 {
  margin-top: 20px;
}


/* service-info CSS  */
#service-info {
  background-color: #666666;
  color: #f5f5f5;
  padding: 100px;
}

#service-info  .container1 ul li {
  list-style: none;
  line-height: 40px;
}

#service-info  .container1 ul li  a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
#service-info  .container2 ul li {
  list-style: none;
  line-height: 40px;
}

#service-info  .container2 ul li  a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 40px;
}

/* .social {
  margin-top: ;
} */
.social  img {
  width: 30%;
}

.quote h1{
    font-size: 40px;
    justify-content: space-between;
}





































